@use '../util' as u;

.header {
    background-color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 30px 65px 0px 65px;
    z-index: 2;

    &__wrapper{
        width: min(100% - u.rem(32), u.rem(1327)); max-width: (u.rem(2450));
        margin-inline: auto;

    }

    &__logo{
        margin: 0px 45px;
    }

}


header {
    nav {
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            justify-content: space-evenly;
            gap: 31px;
            align-self: center;
            padding-right: 40px;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: var(--black);
                        
                }
            }
        }
    }
} 

a:hover {
    color: var(--orange);
}

.nav-socials {
    a {
        padding: 15px;
    }
}

.nav-socials {
    display: flex;
    align-self: center;
}

.nav-socials {
    img:hover {
        background-color: var(--white);
        mix-blend-mode:exclusion;
        border-radius: 5px;
    }
}



.hamburger{
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.btn-close-large{
    height: 2rem;
    width: 2rem;
    background-size: 1.5rem;
}

.offcanvas-body {
    background-color: var(--green); 
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offcanvas-body {
    a {
        color: var(--white);
        font-size:5rem; 
        font-weight: 700; 
        text-transform: uppercase; 
        text-decoration: none;
        margin: 10px 0;
        text-align: center;
    }
}

.offcanvas-body {
    a:hover {
        color: var(--orange);
        transition: color 200ms ease-in-out;
    }
}

.offcanvas-body {
    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;

        li{
            list-style: none;
        }
    }
}



.offcanvas-fullscreen {
    width: 100% !important;
    height: 100% !important;
}

.btn-close-white {
    filter: invert(1); 
}


.offcanvas-header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

// media query 699 px

@include u.breakpoint-down(small) {
    .header{
        padding: 32px 16px 32px 16px;
    }

    .navbar-nav{
        padding: 0;
    }

    .btn-close-large{
        height: 2rem;
        width: 2rem;
        background-size: 1.5rem;
    }

    .offcanvas-body {
        a {
            font-size: 4rem; 
        }
    }

    .nav-buttons {
        display: none; 
    }

    .nav-socials  {
        a {
            display: none;
        }
    }

    .hamburger {
        display: block; 
        cursor: pointer;
        align-self: center;
    }

    .btn-close-large{
        height: 2rem;
        width: 2rem;
        background-size: 1.5rem;
    }

   
    .offcanvas-body {
        ul {
            justify-content: center;
            align-items: center;
        }
    }
}

// header transparent

.header-transparent{
    position: relative;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 30px 65px 0px 65px;
    z-index: 2;

    &__wrapper{
        width: min(100% - u.rem(32), u.rem(1327)); max-width: (u.rem(2450));
        margin-inline: auto;

    }
}

.header-transparent {
    nav {
        display: flex;
        justify-content: space-between;
        filter:invert(1);
        mix-blend-mode: difference;
        ul{
            display: flex;
            justify-content: space-evenly;
            gap: 31px;
            align-self: center;
            padding-right: 40px;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: var(--black);
                    font-weight: bold;
                        
                }

                a:hover {
                    color: var(--orange);
                }
            }
        }
    }
} 

// media query 699 px

@include u.breakpoint-down(small) {
    .header-transparent{
        padding: 32px 16px 32px 16px;
    }

    .navbar-nav{
        padding: 0;
    }

    .btn-close-large{
        height: 2rem;
        width: 2rem;
        background-size: 1.5rem;
    }

    .offcanvas-body {
        a {
            font-size: 4rem; 
        }
    }

    .nav-buttons {
        display: none; 
    }

    .nav-socials  {
        a {
            display: none;
        }
    }

    .hamburger {
        display: block; 
        cursor: pointer;
        align-self: center;
    }

    .btn-close-large{
        height: 2rem;
        width: 2rem;
        background-size: 1.5rem;
    }

   
    .offcanvas-body {
        ul {
            justify-content: center;
            align-items: center;
        }
    }
}