@use '../util' as u;

.about-us-main{
    width: 100%;
    height: 200vh;
}

.bg-z-index-sun{
    position: fixed;
    width: 100%;
    scale: 1.1;
    translate: 0px -80px;
    z-index: -1;
}

.about-main-container{
    padding: 10rem 40rem;
    z-index: 2;
}

