@use '../util' as u;

.about-us-main{
    width: 100%;
    height: 450vh;
}

.bg-z-index-sun{
    position: fixed;
    width: 100%;
    height: 100%;
    scale: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-top: -290px;
}

.bg-z-index-sun2{
    display: none;
    z-index: -1;
    // margin-top: -290px;
}

.about-main-container{
    margin: 20% 30%;
    z-index: 2;
}


.about-main-text {
    margin-bottom: 150%;
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
  }
  
  .about-main-text.scrolled {
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; 
      transform: translateY(20px); 
    }
    100% {
      opacity: 1; 
      transform: translateY(0px); 
    }
  }


  .about-main-img-grid-container {
    margin-inline: auto;
    width: 100%;
    height: 100%;
    margin: 0% 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    align-items: center;
    translate: -190px;
    }
    
    #about-us-img1 { grid-area: 1 / 1 / 2 / 2; }
    #about-us-img2 { grid-area: 2 / 2 / 3 / 3; }
    #about-us-img3 { grid-area: 3 / 1 / 4 / 2; }
    #about-us-img4 { grid-area: 4 / 2 / 5 / 3; }

    #about-us-img1, #about-us-img2, #about-us-img3, #about-us-img4{
        width:200px;
        height: 200px;
    }

    .about-us-img{
        border-radius: 25px;
    }

    @media (width: 2560px){
        .bg-z-index-sun{
            scale: 2;
            margin-top: 290px;
            margin-left: 1300px;
        }
    }

    // media query tablet

    @media (max-width: 768px){
        .bg-z-index-sun{
            translate: -240px 50px;
        }
    }

    // media query small

    @media (max-width: 576px){

        .about-main-container{
            margin: 20% 20%;
            text-align: justify;
        }
        
        .about-main-img-grid-container {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            align-items: center;
            margin-left: u.rem(185);
        }

        .bg-z-index-sun{
            translate: -70px;
        }

        .bg-z-index-sun2{
            display: block;
            z-index: -1;
            position: fixed;
            translate: -850px;
        }

    }