@use '../util' as u;

.work-main-container{
    margin-bottom: -150px;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: space-around; 
    z-index: -1;

    div {
        z-index: -1;
        flex: 1; 
        overflow: hidden; 
        translate: 0px -100px;
    }
    
}

.work-main-left-container{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: relative; 
}

.work-main-right-container{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: relative; 
}

.work-main-services-text {
    position: absolute;
    top: 55%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2; /* Asegura que el texto esté por encima de los videos */
  }
  
  .work-main-services-text-1 {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0; /* Comienza oculto */
    animation: fadeInOut 30s infinite; /* Ciclo total de la animación */
    transition: opacity 0.2s ease-in-out;
}

.work-main-services-text-1:nth-child(1) {
    color: var(--green); /* El color de los textos */
  animation-delay: 0s;  /* Primer texto */
}

.work-main-services-text-1:nth-child(2) {
    color: rgb(255, 187, 0);
  animation-delay: 6s;  /* Segundo texto */
}

.work-main-services-text-1:nth-child(3) {
    color: rgb(255, 55, 0);
  animation-delay: 12s; /* Tercer texto */
}

.work-main-services-text-1:nth-child(4) {
    color: rgb(0, 100, 251);
  animation-delay: 18s; /* Cuarto texto */
}

.work-main-services-text-1:nth-child(5) {
    color: rgb(209, 0, 105);
    animation-delay: 24s; /* Quinto texto */
}

@keyframes fadeInOut {
  0%, 19.99% {
    opacity: 0; /* Oculto antes de su turno */
  }
  20%, 40% {
    opacity: 1; /* Visible durante su turno */
  }
  40.01%, 100% {
    opacity: 0; /* Oculto después de su turno */
  }
}

@media (max-width: 900px) {
    .work-main-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start
    }

    .work-main-services-text{
        position: absolute;
        margin-inline: auto;
        scale: 1;
        top: 62%;
        left: 0%;
        width: 100%;
    }

    .work-main-services-text-1:nth-child(4) {
        scale: 0.8;
        // left: -17px;
    }

    .work-main-services-text-1:nth-child(5) {
        scale: 0.8;
        // left: -17px;
    }


}

@media (max-width: 600px) {

    .work-main-container{
        translate: 0px -15px;
    }

    .work-main-services-text{
        position: absolute;
        margin-inline: auto;
        scale: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -50px;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    
}

@media (max-width: 320px) {

    .work-main-container{
        translate: 0px -15px;
    }

    .work-main-services-text{
        position: absolute;
        margin-inline: auto;
        scale: 0.6;
        top: 66%;
        left: 0%;
        width: 100%;
    }

    
}