/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* poppins-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-800italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-900italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/montserrat-v26-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* unna-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Unna';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/unna-v23-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* pixelify-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pixelify-sans-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
    --orange: hsl(31,65%,53%);
    --yellow: hsl(36,89%,62%);
    --green:  hsl(79,58%,27%);
    --white:  hsl(37,28%,85%);
    --black:  hsl(312,9%,11%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    background-color: var(--white);
}

h1,
h2,
h3{
    margin: 0;
}

p{
    margin-bottom: 0px;
}

ul{
    margin: 0px;
}

button{
    font-family: inherit;
}

header nav {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 30px 65px 0px 65px;
}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-close-large{
    height: 2rem;
    width: 2rem;
    background-size: 1.5rem;
}


.nav-img {
    display: flex;
    align-self: center;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 31px;
    align-self: center;
    padding-right: 40px;
}

header nav ul li {
    list-style: none;
}

.nav-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black);
}

header nav ul li a:hover {
    color: var(--orange);
}

.nav-socials a {
    padding: 15px;
}

.nav-socials {
    display: flex;
    align-self: center;
}

.nav-socials img:hover {
    mix-blend-mode: exclusion;
    border-radius: 5px;
}

.offcanvas-body {
    background-color: var(--green); /* Verde olivo */
    color: var(--white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offcanvas-body a {
    color: var(--white);
    font-size:5rem; 
    font-weight: 700; 
    text-transform: uppercase; 
    text-decoration: none;
    margin: 10px 0;
    text-align: center;
}

.offcanvas-body a:hover {
    color: var(--orange);
}

.offcanvas-body ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.offcanvas-body ul li {
    list-style: none;
}

/* Hacer que el menú ocupe toda la pantalla */
.offcanvas-fullscreen {
    width: 100% !important;
    height: 100% !important;
}

.btn-close-white {
    filter: invert(1); /* Cambia el color del botón de cierre a blanco */
}

/* Posiciona el botón de cierre a la derecha */
.offcanvas-header {
    display: flex;
    justify-content: flex-end; /* Posiciona el botón a la derecha */
    padding: 15px;
}

/* Media query para pantallas menores de 600px */
@media (max-width: 600px) {
    .offcanvas-body a {
        font-size: 4rem; /* Tamaño del texto más pequeño para pantallas móviles */
    }

    .nav-buttons {
        display: none; /* Oculta los elementos del menú */
    }

    .nav-socials a {
        display: none;
    }

    .hamburger {
        display: block; /* Muestra el icono de menú de hamburguesa */
        cursor: pointer;
        align-self: center;
    }

    #navbar-hamburger{
        padding-right: 0px;
    }

    /* Centra el menú */
    .offcanvas-body ul {
        justify-content: center;
        align-items: center;
    }
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 70vh;
}

.main-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.main-title-text {
    font-size: 8rem;
    font-family: 'unna';
    font-weight: 400;
    line-height: 0.7;
}

.main-title-second-text {
    font-size: 7.5rem;
    font-family: 'montserrat';
    font-style: italic;
    font-weight: 800;
    line-height: 0.8;
}

.main-title-third-text {
    font-size: 2rem;
    font-family: 'poppins';
    font-style: italic;
    font-weight: 400;
}

.main-spline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh;
}

spline-viewer {
    visibility: hidden;
}


/* Sección de servicios */
.services-container {
    height: 50vh;
    background-color: var(--green);
    border-radius: 100px;
    margin: 5px;
    box-shadow: #E4DCCE 4px 4px 0 0, #1F1A1E 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
}

.services-container2 {
    padding-left: 120px;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

/* Grid para posicionar botones */
.services-buttons {
    font-size: 2vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    height: 100%;
    }
    
    #branding-service { grid-area: 3 / 3 / 5 / 6; }
    #comercial-service { grid-area: 3 / 8 / 5 / 11; }
    #musicvids-service { grid-area: 6 / 2 / 8 / 5; }
    #foto-service { grid-area: 6 / 7 / 8 / 10; }
    #digitalmedia-service { grid-area: 9 / 5 / 11 / 8; }


/* Estilos de botones */
.services-buttons-btn,
.services-buttons-btn2 {
    padding: 35px;
    background-color: #D58936;
    border: 2px solid #1F1A1E;
    box-shadow: #1F1A1E 4px 4px 0 1px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
    font-size: 1rem;
    width: 100%;
    max-width: 200px;
}

/* Hover de los botones */
.services-buttons-btn:hover {
    transform: rotate(10deg);
}

.services-buttons-btn2:hover {
    transform: rotate(-10deg);
}

/* Texto dentro del contenedor de servicios */
.services-text-container {
    padding-right: 250px;
    color: #e4dcce;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.services-text {
    font-size: 6rem;
    color: #f9e1b8;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: normal;
}


/* Media Queries */
@media (max-width: 1250px) {
    .main-container {
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .main-title {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5%;
        padding-left: 0%;
    }
    .main-spline {
        width: 100%;
        scale: 0.5;
    }
}

@media (max-width: 960px) {
    .main-title {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
        padding-left: 0%;
    }

    .main-title-text {
        font-size: 5rem;
        font-family: 'unna';
        font-weight: 400;
        line-height: 0.7;
    }

    .main-title-second-text {
        font-size: 4.375rem;
        font-family: 'montserrat';
        font-style: italic;
        font-weight: 800;
        line-height: 0.8;
    }

    .main-title-third-text {
        font-size: 1.5rem;
        font-family: 'poppins';
        font-style: italic;
        font-weight: 400;
    }

    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .main-title {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 15%;
        padding-left: 0%;
    }

    .main-spline {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .services-container {
        height: 750px;
        background-color: var(--green);
        border-radius: 100px;
        margin: 5px;
        box-shadow: #E4DCCE 4px 4px 0 0, #1F1A1E 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
    }

    .services-container2 {
        padding: 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
        gap: 0px;
    }

    .services-text-container {
        padding-right: 0px;
        color: #e4dcce;
        width: 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .services-text {
        margin-top: 100px;
        padding: 20px 0px 0px 0px;
        font-size: 4rem;
        color: var(--white);
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
}

/* Responsividad para el grid */
@media (max-width: 960px) {
    .services-buttons {
        padding-left: 15px;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: 50vh;
        }
        
        #branding-service { grid-area: 3 / 3 / 5 / 6; }
        #comercial-service { grid-area: 3 / 8 / 5 / 11; }
        #musicvids-service { grid-area: 6 / 2 / 8 / 5; }
        #foto-service { grid-area: 6 / 7 / 8 / 10; }
        #digitalmedia-service { grid-area: 9 / 5 / 11 / 8; }
        .services-buttons-btn {
            padding: 35px 50px 35px 50px;
            margin-bottom: 0px;
            background-color: #D58936;
            border: 2px solid #1F1A1E;
            box-shadow: #1F1A1E 4px 4px 0 1px;
            border-radius: 100px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: transform 0.5s ease;
            font-size: 1rem;
            width: 100%;
            max-width: 200px;
            transform: rotate(10deg)
        }
        .services-buttons-btn2 {
            padding: 35px 50px 35px 50px;
            margin-bottom: 0px;
            background-color: #D58936;
            border: 2px solid #1F1A1E;
            box-shadow: #1F1A1E 4px 4px 0 1px;
            border-radius: 100px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: transform 0.5s ease;
            font-size: 1rem;
            width: 100%;
            max-width: 200px;
            transform: rotate(-10deg)
        }

        p{
            margin-bottom: 0px;
        }
        
        /* Hover de los botones */
        .services-buttons-btn:hover {
            transform: rotate(-10deg);
        }
        
        .services-buttons-btn2:hover {
            transform: rotate(10deg);
        }

    }


@media (max-width: 600px) {
    .services-buttons {
        padding-left: 15px;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: 50vh;
        }
        
        #branding-service { grid-area: 3 / 3 / 5 / 6; }
        #comercial-service { grid-area: 3 / 8 / 5 / 11; }
        #musicvids-service { grid-area: 6 / 2 / 8 / 5; }
        #foto-service { grid-area: 6 / 7 / 8 / 10; }
        #digitalmedia-service { grid-area: 9 / 5 / 11 / 8; }

.services-buttons-btn {
    padding: 35px 60px 35px 60px;
    background-color: #D58936;
    border: 2px solid #1F1A1E;
    box-shadow: #1F1A1E 4px 4px 0 1px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
    font-size: 1rem;
    width: 100%;
    max-width: 200px;
    transform: rotate(10deg)
}
.services-buttons-btn2 {
    padding: 35px 60px 35px 60px;
    background-color: #D58936;
    border: 2px solid #1F1A1E;
    box-shadow: #1F1A1E 4px 4px 0 1px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
    font-size: 1rem;
    width: 100%;
    max-width: 200px;
    transform: rotate(-10deg)
}

p{
    margin-bottom: 0px;
}

/* Hover de los botones */
.services-buttons-btn:hover {
    transform: rotate(-10deg);
}

.services-buttons-btn2:hover {
    transform: rotate(10deg);
}
}


footer{
    height: 30vh;
}


.logofooter {
    margin: 20px 0px 0px 55px;
    height: 24vh;
}

.vaquerofooter{
    margin: 0px 0px 0px 0px;
    height: 34vh;

}


footer ul{
    padding-left: 0px;
    margin: 45px;
    list-style-type: none;
    text-decoration: none;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

footer ul li a{
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color:#1F1A1E
}

.footerprivacidad {
    text-decoration: none;
}

.footerterminos {
    text-decoration: none;

}

.footercontacto {
    text-decoration: none;
}

.footersocialicons{
    margin: 45px;
    height: 4vh;
    width: 50%;
    width: 15%;
    display: flex;
    justify-content: space-between; 
}

footer span {
    margin: 45px;
    font-family: "Poppins", sans-serif;
    color:#1F1A1E
}

.derechos-foto {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vaquerofooter1 {
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 900px) {
    .footer-container-logo{
        display: flex;
        justify-content: center;
    }

    .logofooter{
        height: 10rem;
        margin: 40px 0px
    }

    footer div ul {
        margin: 50px 0px;
        width: 100%;
        row-gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .footersocialicons{
        margin: 45px 0px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .derechos-foto{
        font-size: .8rem;
    }

    .vaquerofooter{
        height: 8rem;
    }
}

/* INICIA CSS CONTACT US PAGE */

.contact-main-container{
    width: 100%;
    height: 100%;
    padding: 50px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.contact-main-form{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-main-form-title{
    font-size: 1.5rem;
}
/* .contact-main-form-buttons{
    width: 100%;
    font-size: 1rem;
} */

.contact-main-form-buttons-flex{
    padding-right: 20%;
    width: 85%;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-wrap: wrap;
    column-gap: 55px;
}

.contact-main-form-buttons-flex:nth-child(5){
    margin: 50px;
}
.contact-main-submit{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Estilos del switch */

.form-check {
    width: 160px;
}

#flexSwitchCheckDefault{}

.form-check-input {
    width: 50px;
    /* height: 25px; */
    background-color: var(--green);
    border-radius: 50px;
    position: relative;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Posición de la palanca */
  .form-check-input:before {
    /* content: ''; */
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--green);
    border-radius: 50%;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Cambiar a gris cuando está desactivado */
  .form-check-input:not(:checked) {
    background-color: #ccc;
  }
  
  /* Cambiar a verde cuando está activado */
  .form-check-input:checked {
    background-color: green;
  }
  
  /* Cambiar la posición de la palanca cuando está activado */
  .form-check-input:checked:before {
    transform: translateY(-50%) translateX(25px);
  }
